.buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
    padding: 0;
  }
  
  .btn {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--main-color);
    border-style: none;
    letter-spacing: 0.03em;
    color: #212121;
    & {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-color);
        color: #212121;
        background: #F5F4FA;
        border-radius: 4px;
        padding: 6px 25px;
        transition: color 250ms linear, background 250ms linear;
        &:focus, 
        &:hover {
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            color: #FFFFFF;
            background: #2196F3;
          }
      }
  }
